
src/main/resources/facturas
src/main/resources/META-INF
*application.log

# NetBeans project files
nbproject/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.nbproject/
nbactions.xml
nb-configuration.xml

# Maven/Gradle output
target/
build/

# Compiled class files
*.class

# Jar files
*.jar

# IDE config files
.settings/
.classpath
.project
.factorypath

# OS files
.DS_Store
Thumbs.db